---
kind: {{ 'ClusterRoleBinding' if item.0.namespace is not defined else 'RoleBinding' }}
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ item.0.name }}-{{ item.1 }}
{% if item.0.namespace is defined %}
  namespace: {{ item.0.namespace }}
{% endif %}
subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: User
    name: {{ item.1 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{ 'ClusterRole' if item.0.cluster is defined and item.0.cluster else 'Role' }}
  name: {{ item.0.name }}
